<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <style>
            body {
                padding: 0;
                margin: 0;
                font-family: sans-serif;
            }
            main {
                padding: 1rem;
            }
            .main-header {
                width: 100%;
                height: 56px;
                background-color: red;
                padding: 0 1.5rem;
            }
            .main-header_nav {
                height: 100%;
                display: flex;
                align-items: center;
            }
            .main-header_item-list {
                list-style: none;
                margin: 0;
                padding: 0;
                display: flex;
                
            }
            .main-header_item{
                list-style: none;
                margin: 0 1rem;
                padding: 0;
            }
            .main-header_item a {
                text-decoration: none;
                color: white;
            }
            .main-header_item a:hover,
            .main-header_item a:active,
            .main-header_item a:active {
                color: blue;
            }
            .title {
                justify-content: center;
                text-align: center;
            }
            .movieForm {
                justify-content: center;
                text-align: center;
            }
        </style>
    </head>
<div class="title">
    <h1><%= title %></h1>
</div>
<body>
<div>
    <header class="main-header">
        <nav class="main-header_nav">
            <ul class="main-header_item-list">
                <li class="main-header_item"><a href="template">Home</a></li>
                <li class="main-header_item"><a href="addMoviePage">Add Move</a></li>
                <li class="main-header_item"><a href="movies">Movies</a></li>
            </ul>
        </nav>
    </header>
    <br><br><br>
  <form action="/addMovie" method="post">
    <div class="movieForm">
      <label for="title">Movie Title</label>
      <input type="text" name="title" id="title">
    </div>
    <div class="movieForm">
      <label for="description">Description</label>
      <input type="text" name="description" id="description">
    </div>
    <br><br>
    <div class="movieForm">
        <button type="submit">Submit</button>
    </div>
    
  </form>
</div>
<!-- Insert product -->

</body>
</html>